<%- include('../partials/head')  %> 

<div class="itemDetail">
    <h3>Producto <%= resultado.title  %> </h3>
    <p>Precio <%= resultado.price  %> </p>
    <p>Descripción <%= resultado.description  %> </p>
    <img src=<%= resultado.image  %> >
</div>

<a href="/products">Volver</a>