<%- include('./partials/head')%>
<h2>Productos</h2>

<% allProducts.forEach(e => { %>
    <div>
        <p>Producto: <%= e.title %>, precio: $<%= e.price %>, id: <%= e.id %> </p>
        <img src=<%= e.image %> >
    </div>
<% }) %>

<h2>Agregar productos:</h2>
<% if (administrator = true) { %>
    <form action="/products" method="post" enctype="multipart/form-data">
        <label>Nombre del producto</label>
        <input name="title">
        <label>Precio</label>
        <input type="number" name="price">
        <input type="file" name="image">
        <button type="submit">Enviar</button>
    </form>


    <h2>Eliminar un producto</h2>
    <form action="/products" method="delete">
        <input type="number"> 
        <button type="submit">Enviar</button>
    </form>

<% } else { %> <h3>Solo los administradores pueden realizar otras acciones</h3> <% } %> 

<a href="/">Volver</a>